.faq {
    padding: 70px 30px;
  }
  .faq h1 {
    text-align: center;
  }
  .questions {
    /* max-width: 635px; */
    max-width: 800px;
    margin: 0 auto;
  }
  .question {
    position: relative;
    background-color: #303030;
    margin: 0 0 8px;
  }
  .question .header {
    padding: 20px 30px;
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    position: relative;
    border-bottom: solid 1.5px #000;
    color: #fff;
  }
  .question .answer {
    padding: 20px 30px;
    color: #fff;
    /* max-height: 0; */
    overflow: hidden;
    display: none;
  }
  .question.active .answer {
    display: block;
  }
  .question.active .header i {
    transform: rotate(180deg);
  }
  .question .header i {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(45deg);
    transition: all 0.5s ease;
  }